body {
    background-color: #171717;
    font-family: Roboto;
    color: #FFFFFF;
    margin: 0 auto;

}

.container {
    width: 1460px;
    margin: 0 auto;
}

.banner {
    margin-top: 46px;
    margin-bottom: 130px;
}

.flex_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_link {
    width: 216px;
    height: 33px;
}

.call-back {
    align-items: center;
    display: flex;
    width: 218px;
    height: 50px;
    text-decoration: none;
    color: #E4B564;
    border: 1px solid;
    font-size: 18px;
}

.phone_link {
    display: inline-block;
    padding: 18px 10px 18px 26px;
    width: 13px;
    height: 13px;
}

.chapters_1 {
    font-size: 50px;

}
.chapters_2 {
    font-size: 50px;
    margin-bottom: 94px;
}
.chapters_3 {
    font-size: 50px;
    margin-bottom: 72px;
}

.content {
    font-size: 20px;
    height: 56px;
    color: #FFFFFF;
    width: 1182px;
}


.wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    margin-bottom: 161px;
}

.item_2 {
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.item_2:nth-child(1) {
    grid-column: 1 / 3;
    background-color: #635A4A;
}

.item_2:nth-child(2) {
    grid-column: 3 / 5;
    background-color: #B4A385;
}

.item_2:nth-child(3) {
    grid-column: 5 / 7;
    background-color: #E4B564;
}

.item_2:nth-child(4) {
    grid-column: 1 / 4;
    background-color: #635A4A;
}


.item_2:nth-child(5) {
    grid-column: 4 / 7;
    background-color: #B08C4D;
}

.wrapper_bottom {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-bottom: 190px;
    height: 900px;
    font-size: 20px;
}

.item_1 {
    padding-top: 45px;
    padding-left: 50px;
}

.item_1:nth-child(1) {
    background-color: #0E0E0E;
    grid-area: 1/1/4/2;
}

.item_1:nth-child(2) {
    background-color: #242424;
    grid-area: 1/2/5/3;
}

.item_1:nth-child(3) {
    background-color: #1F1F1F;
    grid-area: 1/3/3/4;
}

.item_1:nth-child(4) {
    background-color: #1F1F1F;
    grid-area: 4/1/8/2;
}

.item_1:nth-child(5) {
    background-color: #E4B564;
    grid-area: 5/2/8/3;
    color: #000000;
}

.item_1:nth-child(6) {
    background-color: #0E0E0E;
    grid-area: 3/3/6/4;
}

.item_1:nth-child(7) {
    background-color: #0A0909;
    grid-area: 6/3/8/4;
}

.back-ground {
    padding-top: 172px;
    background-color: #0E0E0E;
    margin-bottom: 230px;
}

.bottom_container {
    width: 1460px;
    margin: 0 auto;
}

.flex_container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.projects {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 218px;
    height: 50px;
    text-decoration: none;
    color: #E4B564;
    border: 1px solid;
    font-size: 18px;
}

.wrapper_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    height: 780px;
    width: 1460px;
    margin: 0 auto;
}

.img_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.picture_1 {
    width: 62px;
    height: 55px;
}

.picture_2 {
    width: 139px;
    height: 55px;
}

.text {
    width: 326px;
    height: 140px;
    font-size: 22px;
    text-align: center;
}

.item_3:nth-child(1) {
    background-color: #634F2C;
    grid-area: 1/1/2/2;
}

.item_3:nth-child(2) {
    background-color: #E8D2ABC2;
    grid-area: 1/2/2/3;
}

.item_3:nth-child(3) {
    background-color: #E4B564;
    grid-area: 1/3/2/4;
}

.item_3:nth-child(4) {
    background-color: #635A4A;
    grid-area: 2/1/3/2;

}

.item_3:nth-child(5) {
    background-color: #B08C4D;
    grid-area: 2/2/3/3;
}

.item_3:nth-child(6) {
    background-color: #634F2C;
    grid-area: 2/3/3/4;
}